body {
  width: 100vw;
  height: 100vh;
  @include background-color(load-bg);
  @include center;
}
.items-container {
  width: 40%;
  height: 40%;
  @include center;
  @include rotate-animation;
}
.item {
  @include size-item;
}
